* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
header {
  background-color: aliceblue;
  padding-top: 44px;
  padding-bottom: 44px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 17px;
}
.logo {
  width: 21vw;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.span {
  color: #1e96c8;
}
.search,
.language {
  background-color: #fff;
  padding: 3px 6px;
}
.btn {
  display: flex;

  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  padding: 10px;
}
.btn img {
  margin-right: 7px;
}

.navbar-list {
  margin-top: 30px;
  display: flex;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  padding: 21px 24px;
  gap: 10px;
}
.navbar-item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;

  color: #515151;
}
.header-bonner {
  margin-top: 18px;
}
.header-bonner img {
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f9;
  border-radius: 5px;
  margin-top: 18px;
  width: 100%;
  height: 133px;
  padding: 40px 35px;
}
.nav-list {
  display: flex;
  align-items: center;
  width: 25%;
  border-right: 3px solid red;
  padding-left: 27px;
}
.rov {
  border-right: none;
}
.nav-info {
  width: 232px;
  padding-left: 25px;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.nav-info-1 {
  margin-left: 17px;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #db0000;
}
.nav-info-2 {
  margin-left: 17px;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #05b135;
}
strong {
  color: #000000;
}
.box {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 10px;
}
.section {
  margin-right: 44px;
  margin-top: 10px;
}
.card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}
.card-list {
  gap: 11px;
}
.card-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: black;
  margin-bottom: 4px;
}
.card-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #7688a4;
}

.sat-item {
  width: 348px;
  height: 510px;
  padding: 16px 20px;
  margin-bottom: 20px;
  background: #f6f6f9;
  border-radius: 5px;
  margin-left: 45px;
}
.sat-list {
  background: #f6f6f9;
  border-radius: 5px;
  gap: 11px;
}
.sat-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 11px;
  margin-top: 11px;
}
.sat-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 12px;
  margin-top: 11px;
}
hr {
  width: 300px;
  height: 2px;
  margin-bottom: 10px;
  background: #e4e4e4;
}
.bun {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  background: #295093;
  border-radius: 5px;
  color: #ffffff;
  width: 211px;
  padding: 8px 20px;
  margin-left: 250px;
  border: none;
}
footer {
  background: #295093;
}
.footer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 115px;
  padding-top: 30px;
}
.footer-img-item {
  width: 194px;
  height: 38px;
  background: #133c82;
  border-radius: 5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-right: 200px;
}
.footer-img {
  padding: 12px 12px;
  background-color: darkblue;
  width: 173px;
  color: #e4e4e4;
  border-radius: 8px;
}

.footer-h {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  width: 660px;
  height: 20px;
}
.footer-btn {
  display: flex;
  width: 132px;
  height: 38px;
  padding: 9px 9px 11px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 12px 9px;
}
.span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  padding-left: 5px;
}
.hrs {
  align-items: center;
  margin-top: 30px;
  width: 1200px;
  height: 3px;
  background: #133c82;
  margin-left: 120px;
  padding-left: 30px;
  background-color: #133c82;
  border-radius: 15px;
  border: none;
}
.footer-cord {
  display: flex;
  align-items: center;
}
.footer__bottom-info {
  width: 365px;
  margin-left: 146px;
  margin-right: 86px;
  margin-bottom: 14px;
}
.footer__bottom-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer__bottom-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.footer__list {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  margin-right: 115px;
}
.footer__list-item {
  padding-bottom: 8px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
